// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Fredoka', sans-serif;
$parrafos-font-family:'Didact Gothic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$blue: #28196d